.bug {
    .card {

        &__header,
        &__footer {
            background-color: $bug;
        }

        &__name {
            color: $bug;
        }
    }
}

.dark {
    .card {

        &__header,
        &__footer {
            background-color: $dark;
        }

        &__name {
            color: $dark;
        }
    }
}

.dragon {
    .card {

        &__header,
        &__footer {
            background-color: $dragon;
        }

        &__name {
            color: $dragon;
        }
    }
}

.electric {
    .card {

        &__header,
        &__footer {
            background-color: $electric;
        }

        &__name {
            color: $electric;
        }
    }
}

.fairy {
    .card {

        &__header,
        &__footer {
            background-color: $fairy;
        }

        &__name {
            color: $fairy;
        }
    }
}

.fighting {
    .card {

        &__header,
        &__footer {
            background-color: $fighting;
        }

        &__name {
            color: $fighting;
        }
    }
}

.fire {
    .card {

        &__header,
        &__footer {
            background-color: $fire;
        }

        &__name {
            color: $fire;
        }
    }
}

.flying {
    .card {

        &__header,
        &__footer {
            background-color: $flying;
        }

        &__name {
            color: $flying;
        }
    }
}

.ghost {
    .card {

        &__header,
        &__footer {
            background-color: $ghost;
        }

        &__name {
            color: $ghost;
        }
    }
}

.grass {
    .card {

        &__header,
        &__footer {
            background-color: $grass;
        }

        &__name {
            color: $grass;
        }
    }
}

.ground {
    .card {

        &__header,
        &__footer {
            background-color: $ground;
        }

        &__name {
            color: $ground;
        }
    }
}

.ice {
    .card {

        &__header,
        &__footer {
            background-color: $ice;
        }

        &__name {
            color: $ice;
        }
    }
}

.normal {
    .card {

        &__header,
        &__footer {
            background-color: $normal;
        }

        &__name {
            color: $normal;
        }
    }
}

.poison {
    .card {

        &__header,
        &__footer {
            background-color: $poison;
        }

        &__name {
            color: $poison;
        }
    }
}

.psychic {
    .card {

        &__header,
        &__footer {
            background-color: $psychic;
        }

        &__name {
            color: $psychic;
        }
    }
}

.rock {
    .card {

        &__header,
        &__footer {
            background-color: $rock;
        }

        &__name {
            color: $rock;
        }
    }
}

.steel {
    .card {

        &__header,
        &__footer {
            background-color: $steel;
        }

        &__name {
            color: $steel;
        }
    }
}

.water {
    .card {

        &__header,
        &__footer {
            background-color: $water;
        }

        &__name {
            color: $water;
        }
    }
}
